input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  margin: 3rem;
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type="number"] {
  text-align: center;
}

.md-number-input.number-input {
  border: 2px solid #ddd;
  width: 11.8rem;
  margin: 0;
  border-radius: 8px;
}
.md-number-input.number-input button {
  outline: none;
  width: 3rem;
  height: 2rem;
  padding-top: 0.8rem;
}
.md-number-input.number-input button.minus {
  padding-left: 8px;
}
.md-number-input.number-input button.plus {
  padding-left: 2px;
}
.md-number-input.number-input button:before,
.md-number-input.number-input button:after {
  width: 1rem;
  background-color: #212121;
}
.md-number-input.number-input input[type="number"] {
  max-width: 5rem;
  padding: 0.5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  outline: none;
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .number-input.md-number-input.safari_only button:before,
    .number-input.md-number-input.safari_only button:after {
      margin-top: -0.6rem;
    }
  }
}
* {
    box-sizing: border-box;
}
body {
    background: #e8e8e8;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
.page {
}
.container {
    padding-left: 0px;
    padding-right: 0px;
}
.type {
    padding: 5px 0;
    font-size: 12px;
}
.type ul {
    padding: 0px;
    margin: 0px;
}
.type ul li {
    display: inline;
}
.type ul li a {
    color: #262626;
    text-decoration: none;
    transition:all 300ms ease-in 0s;
}
.main {
}
#test {
  padding-left: 0;
  padding-right: 0;
}
.container-fluid {
    padding-left: 38px;
    padding-right: 38px;
    font-family: 'Roboto',sans-serif !important;
    background: white !important;
}
.product-essential {
    display: flex;
    padding: 16px 16px 16px 16px;
    justify-content: space-evenly
}
.img {
    height: auto;
    width: auto;
    display: -webkit-flex;
    flex-direction:row;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}
img {
  max-height: 392px;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}
.add{
  margin-top: 15px;
  display: -webkit-flex;
  width: 50%;
}
.add button:first-of-type {
  margin-left: 0;
  color: #539e46;
  background: #fff;
  border: 2px solid #539e46;
}
.add button {
  height: 44px;
  margin-left: 10px;
  width: 220px;
  font-weight: 700;
  font-size: 1.1em;
  border-radius: 8px;
  color: #fff;
  background: #539e46;
  border: none;
}
.info {
  width: calc(100% - 484px);
  padding-left: 36px;
}
h1 {
  font-size: 25px;
  font-weight: 700;
  margin: 25px 0 20px;
}
.product {
  padding-bottom: 20px;
}
span {
  font-weight: 700;
}
div.price {
  padding: 0 0 25px 0;
}
span.price {
  font-size: 32px;
  color: #539e46;
  font-weight: 700;
}
.quantitybox {
  display: -webkit-flex;
  -webkit-align-items: center;
  padding: 0 0 20px;
}
.quantitybox label {
  font-size: 1.2em;
  font-weight: 700;
  text-align: left;
  width: 90px;
}
.detail {
  margin: 10px 0;
}
.bookinfo, .intro {
  font-size: 1.45em;
  font-weight: 700;
  display: inline-block;
  text-decoration: underline;
  margin: 13px 0 13px 0;
}
.description2 {
  overflow: hidden;
  line-height: 21px;
  font-size: 15px;
}
.bookdetail {
  overflow: hidden;
  max-height: 600px;
  border-bottom: 1px solid #c1c1c1;
}
table {
  border: none;
  box-shadow: none;
  margin: 10px 0;
  border-spacing: 0;
  empty-cells: show;
  font-size: 100%;
}
th {
  font-size: 1.1em;
  border: none;
  padding: 4px;
  font-weight: normal;
  display: table-cell;
  padding-left: 0 !important;
  line-height: 1.6;
  text-align: left;
  white-space: nowrap;
  vertical-align: baseline;
  color: #777;
}
td {
  font-size: 1.1em;
  border: none;
  padding: 4px;
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}








